<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação</title>
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="resposta">
    <!-- Imagem de fundo -->
    <img src="../assets/img/feedbackConfirmacao.svg"/>

    <!-- Título -->
    <h1 class="secao-pesquisa__titulo titulo-favoritos">Feedback Enviado!</h1>

    <!-- Botão para voltar -->
    <button class="secao-feedback__botao" onclick="window.history.back();">Voltar</button>

    <!-- Script -->
    <script src="../assets/js/modoNoturno.js"></script>
</body>
</html>